<a href="https://colab.research.google.com/github/MatheusMDi/price/blob/main/investpyDINIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bibliotecas

In [152]:
!pip install investpy

Requirement already satisfied: investpy in /usr/local/lib/python3.7/dist-packages (1.0.7)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (2.23.0)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.1.5)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (4.7.1)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.7/dist-packages (from investpy) (57.4.0)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.19.5)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.7/dist-packages (from investpy) (2021.3)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from investpy) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->investpy) (3.0.4)

In [153]:
import investpy as inv
from datetime import date

data_atual = date.today()
data = '{}/{}/{}'.format(data_atual.day, data_atual.month,data_atual.year)

In [154]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib
matplotlib.rcParams['figure.figsize'] = (16,8)

Commodities

In [155]:
results = inv.search_quotes(text = 'copper', products=['commodities'], countries=['united states'], n_results=50)
for results in results:
  print(results)

{"id_": 8831, "name": "Copper Futures", "symbol": "HG", "country": null, "tag": "/commodities/copper", "pair_type": "commodities", "exchange": "COMEX"}
{"id_": 1177815, "name": "Copper Futures", "symbol": "HGc1", "country": null, "tag": "/commodities/copper?cid=1177815", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1177816, "name": "Copper Futures", "symbol": "HGc2", "country": null, "tag": "/commodities/copper?cid=1177816", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1177817, "name": "Copper Futures", "symbol": "HGc3", "country": null, "tag": "/commodities/copper?cid=1177817", "pair_type": "commodities", "exchange": "CME"}

In [156]:
copper = results.retrieve_historical_data(from_date='01/01/2019', to_date= data)

In [157]:
copper

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02  2.6420  2.6750  2.5945  2.6230   85019       -0.30
2019-01-03  2.6015  2.6205  2.5430  2.5680   88581       -2.10
2019-01-04  2.5760  2.6550  2.5670  2.6475   83284        3.10
2019-01-07  2.6500  2.6595  2.6315  2.6370   57830       -0.40
2019-01-08  2.6380  2.6580  2.6235  2.6560   65998        0.72
...            ...     ...     ...     ...     ...         ...
2022-01-05  4.4725  4.4730  4.3720  4.4135     436       -1.37
2022-01-06  4.3920  4.4080  4.3135  4.3545     390       -1.34
2022-01-07  4.3540  4.4175  4.3435  4.4100   45264        1.27
2022-01-09  4.4010  4.4070  4.3900  4.3970     665       -0.29
2022-01-10  4.3970  4.4285  4.3770  4.3825   18808       -0.33

[765 rows x 6 columns]

Moedas

In [158]:
results2 = inv.search_quotes(text = 'MYR/USD', products=['currencies'], n_results=50)
for results2 in results2:
  print(results2)

{"id_": 993166, "name": "Malaysian Ringgit US Dollar", "symbol": "MYR/USD", "country": "malaysia", "tag": "/currencies/myr-usd", "pair_type": "currencies", "exchange": ""}
{"id_": 2168, "name": "US Dollar Malaysian Ringgit", "symbol": "USD/MYR", "country": "malaysia", "tag": "/currencies/usd-myr", "pair_type": "currencies", "exchange": ""}

In [159]:
malaysian_ringgit = results2.retrieve_historical_data(from_date='01/01/2019', to_date= data)
malaysian_ringgit

              Open    High     Low   Close  Change Pct
Date
2019-01-01  4.1325  4.1325  4.1325  4.1325        0.00
2019-01-02  4.1320  4.1420  4.1320  4.1370        0.11
2019-01-03  4.1425  4.1495  4.1405  4.1435        0.16
2019-01-04  4.1415  4.1425  4.1355  4.1355       -0.19
2019-01-07  4.1390  4.1390  4.1070  4.1150       -0.50
...            ...     ...     ...     ...         ...
2022-01-04  4.1795  4.1865  4.1785  4.1840        0.31
2022-01-05  4.1875  4.1950  4.1875  4.1920        0.19
2022-01-06  4.1965  4.2140  4.1965  4.2110        0.45
2022-01-07  4.2175  4.2175  4.2025  4.2070       -0.09
2022-01-10  4.2025  4.2035  4.1995  4.2000       -0.17

[769 rows x 5 columns]

Fundos de investimento

In [160]:
results3 = inv.search_quotes(text = 'direcional', products=['funds'], n_results=50)
for results3 in results3:
  print(results3)
results

{"id_": 1106272, "name": "Cshg Previdenci\u00e1rio Master Direcional Ima-b Renda Fixa Fundo De Investimento", "symbol": "0P0000ZAIE", "country": "brazil", "tag": "/funds/cshg-master-zurich-juro-real-fundo", "pair_type": "funds", "exchange": "BM&FBovespa"}
{"id_": 1106294, "name": "Cshg Previdenci\u00e1rio Direcional Zurich Ima-b Renda Fixa Fic De Fundo De Investimento", "symbol": "0P0000Z6HE", "country": "brazil", "tag": "/funds/cshg-zurich-juro-real-ativo-fic-de", "pair_type": "funds", "exchange": "BM&FBovespa"}
{"id_": 1107951, "name": "Fundo De Investimento Caixa Direcional Renda Fixa Cr\u00e9dito Privado Longo Prazo", "symbol": "0P0000U9EI", "country": "brazil", "tag": "/funds/fundo-de-investimento-caixa-direcio", "pair_type": "funds", "exchange": "BM&FBovespa"}

In [161]:
dire_funds = results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
dire_funds

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02  2.6420  2.6750  2.5945  2.6230   85019       -0.30
2019-01-03  2.6015  2.6205  2.5430  2.5680   88581       -2.10
2019-01-04  2.5760  2.6550  2.5670  2.6475   83284        3.10
2019-01-07  2.6500  2.6595  2.6315  2.6370   57830       -0.40
2019-01-08  2.6380  2.6580  2.6235  2.6560   65998        0.72
...            ...     ...     ...     ...     ...         ...
2022-01-05  4.4725  4.4730  4.3720  4.4135     436       -1.37
2022-01-06  4.3920  4.4080  4.3135  4.3545     390       -1.34
2022-01-07  4.3540  4.4175  4.3435  4.4100   45264        1.27
2022-01-09  4.4010  4.4070  4.3900  4.3970     665       -0.29
2022-01-10  4.3970  4.4285  4.3770  4.3830   18815       -0.32

[765 rows x 6 columns]