<a href="https://colab.research.google.com/github/MatheusMDi/price/blob/main/investpyDINIZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bibliotecas

In [ ]:
!pip install investpy

In [81]:
import investpy as inv
from datetime import date

data_atual = date.today()
data = '{}/{}/{}'.format(data_atual.day, data_atual.month,data_atual.year)

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib
matplotlib.rcParams['figure.figsize'] = (16,8)

## Commodities

Cobre

In [59]:
copper_results = inv.search_quotes(text = 'copper', products=['commodities'], countries=['united states'], n_results=50)
for copper_results in copper_results:
  print(copper_results)

{"id_": 8831, "name": "Copper Futures", "symbol": "HG", "country": null, "tag": "/commodities/copper", "pair_type": "commodities", "exchange": "COMEX"}
{"id_": 1177816, "name": "Copper Futures", "symbol": "HGc2", "country": null, "tag": "/commodities/copper?cid=1177816", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1177815, "name": "Copper Futures", "symbol": "HGc1", "country": null, "tag": "/commodities/copper?cid=1177815", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1177817, "name": "Copper Futures", "symbol": "HGc3", "country": null, "tag": "/commodities/copper?cid=1177817", "pair_type": "commodities", "exchange": "CME"}

In [60]:
copper = copper_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
copper

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02  2.6420  2.6750  2.5945  2.6230   85019       -0.30
2019-01-03  2.6015  2.6205  2.5430  2.5680   88581       -2.10
2019-01-04  2.5760  2.6550  2.5670  2.6475   83284        3.10
2019-01-07  2.6500  2.6595  2.6315  2.6370   57830       -0.40
2019-01-08  2.6380  2.6580  2.6235  2.6560   65998        0.72
...            ...     ...     ...     ...     ...         ...
2022-01-05  4.4725  4.4730  4.3720  4.4135     436       -1.37
2022-01-06  4.3920  4.4080  4.3135  4.3545     390       -1.34
2022-01-07  4.3540  4.4175  4.3435  4.4100   45264        1.27
2022-01-10  4.4015  4.4310  4.3305  4.3520     416       -1.32
2022-01-11  4.3780  4.4105  4.3660  4.3995   20905        1.09

[765 rows x 6 columns]

Petroleo

In [61]:
oil_results = inv.search_quotes(text = 'Crude Oil WTI', products=['commodities'], countries=['united states'], n_results=50)
for oil_results in oil_results:
  print(oil_results)

{"id_": 8849, "name": "Crude Oil WTI Futures", "symbol": "T", "country": null, "tag": "/commodities/crude-oil", "pair_type": "commodities", "exchange": "ICE"}
{"id_": 1178039, "name": "Crude Oil WTI Futures", "symbol": "CLc3", "country": null, "tag": "/commodities/crude-oil?cid=1178039", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1178038, "name": "Crude Oil WTI Futures", "symbol": "CLc2", "country": null, "tag": "/commodities/crude-oil?cid=1178038", "pair_type": "commodities", "exchange": "CME"}
{"id_": 1178037, "name": "Crude Oil WTI Futures", "symbol": "CLc1", "country": null, "tag": "/commodities/crude-oil?cid=1178037", "pair_type": "commodities", "exchange": "CME"}

In [62]:
oil = oil_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
oil

             Open   High    Low  Close  Volume  Change Pct
Date
2019-01-02  45.80  47.78  44.35  46.54  850480        2.49
2019-01-03  46.26  47.49  45.35  47.09  788718        1.18
2019-01-04  46.90  49.22  46.65  47.96  817277        1.85
2019-01-07  48.30  49.79  48.11  48.52  819939        1.17
2019-01-08  48.73  49.95  48.31  49.78  765981        2.60
...           ...    ...    ...    ...     ...         ...
2022-01-06  77.18  80.23  76.73  79.50    1412        2.98
2022-01-07  79.50  80.46  78.56  78.94  383363       -0.70
2022-01-09  78.94  79.10  78.36  78.56    5514       -0.48
2022-01-10  78.59  79.45  77.85  78.57    1079        0.01
2022-01-11  78.59  80.12  78.38  80.02  122582        1.85

[770 rows x 6 columns]

Alumínio

In [114]:
alu_results = inv.search_quotes(text = 'Aluminium', products=['commodities'], n_results=50)
for alu_results in alu_results[0:1]:
  print(alu_results)

{"id_": 49768, "name": "Aluminium", "symbol": "MAL", "country": null, "tag": "/commodities/aluminum", "pair_type": "commodities", "exchange": ""}

In [115]:
alu = alu_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
alu

               Open     High      Low    Close  Volume  Change Pct
Date
2019-01-02  1777.75  1822.75  1764.00  1799.00   45737       -2.65
2019-01-03  1822.50  1825.00  1773.00  1842.50   44783        2.42
2019-01-04  1855.50  1858.25  1817.50  1874.75   58062        1.75
2019-01-07  1859.50  1864.00  1850.25  1886.25   43789        0.61
2019-01-08  1842.25  1860.25  1840.50  1870.50   57396       -0.83
...             ...      ...      ...      ...     ...         ...
2022-01-05  2885.00  2883.00  2885.00  2922.00   68348        2.92
2022-01-06  2928.00  2923.00  2923.50  2921.50   51161       -0.02
2022-01-07  2933.00  2930.00  2932.00  2914.50   47054       -0.24
2022-01-10  2940.00  2934.00  2934.50  2931.50       0        0.58
2022-01-11  2919.00  2960.00  2915.00  2953.00       0        0.73

[766 rows x 6 columns]

Aço Scrap/Rebar

In [65]:
steelRebar_results = inv.search_quotes(text = 'steel Rebar', products=['commodities'], n_results=50)
for steelRebar_results in steelRebar_results:
  print(steelRebar_results)

{"id_": 996702, "name": "Steel Rebar Futures", "symbol": "SRRc1", "country": null, "tag": "/commodities/steel-rebar", "pair_type": "commodities", "exchange": ""}

In [66]:
steelScrap_results = inv.search_quotes(text = 'steel Scrap', products=['commodities'], n_results=50)
for steelScrap_results in steelScrap_results:
  print(steelScrap_results)

{"id_": 996703, "name": "Steel Scrap Futures", "symbol": "SSCc1", "country": null, "tag": "/commodities/steel-scrap", "pair_type": "commodities", "exchange": ""}

In [67]:
scrap = steelScrap_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
scrap

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02  278.00  278.00  278.00  278.00      95       -7.29
2019-01-03  280.00  280.00  280.00  280.00       0        0.72
2019-01-04  280.00  280.00  280.00  280.00       0        0.00
2019-01-07  280.00  280.00  280.00  280.00       0        0.00
2019-01-08  280.50  280.50  280.50  280.50     687        0.18
...            ...     ...     ...     ...     ...         ...
2021-12-31  467.62  467.62  467.62  467.62       0       -0.08
2022-01-04  465.00  465.00  465.00  465.00       9       -0.56
2022-01-05  457.00  457.00  457.00  457.00     268       -1.72
2022-01-06  460.00  460.00  460.00  460.00     168        0.66
2022-01-07  467.50  467.50  467.50  467.50     389        1.63

[764 rows x 6 columns]

In [68]:
rebar = steelRebar_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
rebar

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02  449.50  449.50  449.50  449.50      18       -3.80
2019-01-03  445.50  445.50  445.50  445.50      45       -0.89
2019-01-04  445.50  445.50  445.50  445.50       0        0.00
2019-01-07  450.50  450.50  450.50  450.50       0        1.12
2019-01-08  451.00  451.00  451.00  451.00      30        0.11
...            ...     ...     ...     ...     ...         ...
2021-12-31  699.36  699.36  699.36  699.36       0        0.12
2022-01-04  689.00  689.00  689.00  689.00       2       -1.48
2022-01-05  705.00  705.00  705.00  705.00      70        2.32
2022-01-06  707.50  707.50  707.50  707.50       0        0.35
2022-01-07  715.00  715.00  715.00  715.00       3        1.06

[764 rows x 6 columns]

Ferro

In [117]:
iron_results = inv.search_quotes(text = 'iron', products=['commodities'], n_results=50)
for iron_results in iron_results[1:2]:
  print(iron_results)

{"id_": 992748, "name": "Iron ore fines 62% Fe CFR Futures", "symbol": "SGXIOSc1", "country": null, "tag": "/commodities/iron-ore-62-cfr-futures?cid=992748", "pair_type": "commodities", "exchange": "Singapore"}

In [118]:
iron = iron_results.retrieve_historical_data(from_date='01/01/2019', to_date= data)
iron

              Open    High     Low   Close  Volume  Change Pct
Date
2019-01-02   71.03   71.25   69.35   71.03       0        2.64
2019-01-03   72.27   72.30   66.65   72.27       0        1.75
2019-01-04   72.95   73.20   67.70   72.95       0        0.94
2019-01-07   74.32   74.40   67.85   74.32       0        1.88
2019-01-08   74.55   74.65   68.15   74.55       0        0.31
...            ...     ...     ...     ...     ...         ...
2022-01-04  122.09  122.09  122.09  122.09       0       -0.49
2022-01-05  124.21  124.21  124.21  124.21       0        1.74
2022-01-06  126.98  126.98  126.98  126.98       0        2.23
2022-01-07  126.73  126.73  126.73  126.73       0       -0.20
2022-01-10  125.05  125.05  125.05  125.05       0       -1.33

[782 rows x 6 columns]